.main-container {
    overflow: hidden;
}

/* TOPBAR */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.icon {
    float: right;
    display: block;
  }

/* SIDEBAR */
.sidebar {
    width: 20%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: fixed;
    background-color: yellow;
}

.sidebar-article {
    top: 30%;
    padding-left: 10%;
    padding-right: 20%;
}

.sidebar-header {
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

.sidebar-name {
    font-family: 'Rubik Mono One';
    font-size: 36px;    
    margin-top: 10%;
    word-wrap: break-word;
}

.sidebar-text {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    height: 100%;
    margin-top: 10%;
    top: 50%;
}


/* LOCATION CONTENT */
.content-article-mobile {
    padding-top: 20px;
}

.locationContent-mobile {

}

.content-header-mobile {
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

.content-name-mobile {
    font-family: 'Source Sans Pro';
    font-size: 22px;
    margin-top: -2%;
}

.content-text-mobile {
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

.content-img-mobile {
    display: block;
    margin: auto;
    max-width: -webkit-fill-available;
}
