.main-container {
    overflow: hidden;
}

/* SIDEBAR */
.sidebarMobile {
    background-color: yellow;
}

.sidebar-article-mobile {
  padding: 40px;
}

.sidebar-header-mobile {
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

.sidebar-name-mobile {
    font-family: 'Rubik Mono One';
    font-size: 86px;
    word-wrap: break-word;
}

.sidebar-text-mobile {
    font-family: 'Source Sans Pro';
    font-size: 46px;
    overflow: hidden;
    height: 3em;
}


/* LOCATION CONTENT */
.content-article-mobile {
    padding: 40px;
}

.locationContent-mobile {

}

.content-header-mobile {
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

.content-name-mobile {
    font-family: 'Source Sans Pro';
    font-size: 22px;
    margin-top: -20px;
}

.content-text-mobile {
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

.content-img-mobile {
    display: block;
    margin: auto;
    max-width: -webkit-fill-available;
}
