.main-container {
    overflow: hidden;
}

/* SIDEBAR */
.sidebarMobile {
    background-color: yellow;
}

.sidebar-article-mobile {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.sidebar-about-button {
    font-family: 'Source Sans Pro';
    font-size: 13pt;
    font-style: italic;
    font-weight: 900;
    float: left;
    border: 3pt solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-language {
    font-family: 'Source Sans Pro';
    font-size: 13pt;
    font-style: italic;
    font-weight: 900;
    float:right;
    border: 3pt solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-header-mobile {
    font-family: 'Rubik Mono One';
    font-size: 21pt;
    clear: both;
    padding-top: 15px;
    margin-bottom: 10px;
}

.sidebar-name-mobile {
    font-family: 'Rubik Mono One';
    font-size: 31pt;
    line-height: 37.5pt;
    word-spacing: 100vw;
    margin-top: 10px;
    /*word-wrap: break-word;*/
}

.sidebar-location-mobile {
    font-family: 'Source Sans Pro';
    font-size: 15pt;
    font-weight: 900;
    max-width: 300px;
    margin-bottom: 20px;
}

.sidebar-about-mobile {
    font-family: 'Source Sans Pro';
    font-size: 15pt;
    font-style: italic;
    font-weight: 900;
    line-height: 20.5pt;
    border-top: 3pt solid black;
    border-bottom: 3pt solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar-authors-mobile {
    font-family: 'Source Sans Pro';
    font-size: 15pt;
    font-style: italic;
    font-weight: 900;
    line-height: 20.5pt;
}

.sidebar-insitu-mobile {
    font-family: 'Source Sans Pro';
    font-size: 15pt;
    font-style: italic;
    font-weight: 900;
    line-height: 20.5pt;
    text-decoration: none;
    padding-bottom: 25px;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* LOCATION CONTENT */
.content-article-mobile {
    padding-left: 25px;
    padding-right: 25px;
}

.locationContent-mobile {

}

.content-header-mobile {
    font-family: 'Source Sans Pro';
    font-size: 17pt;
    line-height: 22pt;
    margin-bottom: 0px;
}

.content-name-mobile {
    font-family: 'Source Sans Pro';
    font-size: 17pt;
    line-height: 22pt;
    margin-top: 0px;
}

.content-text-mobile {
    font-family: 'Source Sans Pro';
    font-size: 15pt;
    line-height: 20pt;
}

.content-img-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: -webkit-fill-available;
}
