.main-container {
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 20%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: fixed;
    background-color: yellow;
}

.sidebar-article {
    top: 30%;
    padding-left: 10%;
    padding-right: 20%;
}

.sidebar-header {
    font-family: 'Rubik Mono One';
    font-size: 1vw;
}

.sidebar-name {
    font-family: 'Rubik Mono One';
    font-size: 5vh;    
    margin-top: 10%;
    word-wrap: break-word;
}

.sidebar-text {
    font-family: 'Source Sans Pro';
    font-size: 2.2vh;
    height: 100%;
    margin-top: 10%;
    top: 50%;
}


/* LOCATION CONTENT */
.content-article {
    padding-left: 3%;
    padding-right: 30%;
}

.locationContent {
    width: 80%;    
    position: absolute;
    left: 20%;
}

.content-header {
    font-family: 'Rubik Mono One';
    font-size: 22px;
}

.content-name {
    font-family: 'Source Sans Pro';
    font-size: 22px;
    margin-top: -1%;
}

.content-text {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    padding-right: 20%;
}
