article(class="sidebar-article")
	h3 IN SITU
	h1 UMJETNICI KOJI NEDOSTAJU
	p Dakle, potrebno je izmisliti umjetnika koji će djelovati kao format za izvođenje umjetničkog rada na zadanu temu. Hoće li izmišljeni umjetnik za autore djelovati kao katalizator hrabrosti ili filtar nakupljenih frustracija, ili pak kao osobni alter ego i uživljavanje u strani modus operandi, ostavljeno je autorima na volju i izbor
	{{myPosition.coords.longitude}} {{myPosition.coords.latitude}}
