doctype html
html(ng-app="msuapp")
  head
    base(href='/')
    link(rel='stylesheet', href='msuapp/stylesheets/style.css')    
    link(rel='stylesheet', href='msuapp/stylesheets/style_mobile.css')
    link(rel='stylesheet', href='msuapp/assets/unlocation/style.css')
    link(rel='stylesheet', href='msuapp/assets/unlocation/style_mobile.css')
    link(rel='stylesheet', href='msuapp/assets/location_1/style.css')
    link(rel='stylesheet', href='msuapp/assets/location_1/style_mobile.css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Rubik Mono One' rel='stylesheet')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js", type="application/javascript")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js", type="application/javascript")
    script(src="msuapp/msuapp.js",type="application/javascript")
    script(src="msuapp/controllers.js",type="application/javascript")
    script(src="msuapp/directives.js",type="application/javascript")    
  body
    div(ng-view)
      block content
