article(class="content-article")


    img(class="content-img" id="IMG_1" ng-src="./msuapp/assets/location_1/images/IMG_1.JPG")

    h1(class="content-header") DRVENI SVATOVI
    h2(class="content-name") Canarino Immobile

    p(class="content-text") Dukati su bili čest ukras svadbene nošnje na istoku Hrvatske. Njime se pokazivalo obiteljsko bogatstvo i privlačilo pažnju. Fascinira me direktnost te poruke i želim je ponovo odaslati. Prikazivanje nošnji u izvorom obliku je folklor, a on se nalazi u niši kojoj moderna osoba rijetko posvećuje pažnju. Da bismo ponovo primijetili svadbenu nošnju s dukatima, treba je reinterpretirati. Zato sam odabrao stablo u blizini MSU – zdravo, bujno, u najboljim godinama za udaju – i odjenuo ga u kovanice. Uz njega je jedno manje i mlađe koje nosi nešto siromašniji komplet. Ono predstavlja mlađu djevojku koja se u bogatstvu nošnje još ne može natjecati s nevjestom.


    img(class="content-img" id="IMG_2" ng-src="./msuapp/assets/location_1/images/IMG_2.JPG")

    p(class="content-text") U mladosti se bavi nogometom i igra zadnjeg veznog za kalabreški F.C. Crotone. Zbog kronične ozljede koljena prekida karijeru u 25. godini i tada otkriva svoje umjetničke sklonosti. Upisuje Accademia di Belle Arti u Reggio Calabria i bavi se sportskom estetikom. Još kao student zapažen je s radovima u drvu „Arbitro ladro“ (Sudac lopov) i „Chi non salta è Siciliano“ (Tko ne skače, Sicilijanac). U tridesetima okreće pažnju folklornim motivima i vodi malu, ali utjecajnu umjetničku udrugu „Onda di rame“ (Bakreni val). Nakon četiri godine udruga je zatvorena uslijed kontroverzne umjetničko-provokacijske akcije krađe građevinskog materijala iz lokalne tvornice ribljih konzervi. Prozvan u medijima, Immobile se povlači u osamu na brdo Scapparone gdje se posvećuje introspekciji. U tzv. rektalnoj fazi tada nastaju „Urlo dell'ano“ (Vrisak anusa), „Vista dall'ano“ (Pogled iz anusa) i „Chi sono? Un ano?“ (Tko sam ja? Anus?) koji se sada kao triptih mogu vidjeti na izlazu iz MAXXI galerije u Rimu. Radi se o uljima na platnu na kojima dominira smeđa boja. U novije vrijeme Immobile se vraća istraživanju folklora, miraza i drugih svadbenih običaja.
