p(class="partial-hello") Pozdrav, MOBILNI stranče!
p(class="model-hello") {{message}}
a(class="geoloc-ctrl" ng-controller="geolocCtrl" href="http://www.google.com/maps/place/{{myPosition.coords.latitude}},{{myPosition.coords.longitude}}") LOKACIJA
