div(class="topnav" id="myTopnav")
  a(href="#home")  Home
  a(href="#news") News
  a(href="#contact") Contact
  a(href="#about") About
  a(style="font-size:15px;" class="icon" href="javascript:void(0);") &#9776;
div(class="locationContentMobile" ng-controller="contentController")