article(class="sidebar-article-mobile")
    h3(class="sidebar-header-mobile") IN SITU
    h1(class="sidebar-name-mobile") UMJETNICI KOJI NEDOSTAJU
    p(class="sidebar-text-mobile" style="height:'';") “Umjetnici koji nedostaju” je virtualna izložba na prostoru Muzeja suvremene umjetnosti koja okuplja umjetničke radove koji se na različite načine bave prostorom u i oko muzeja. Pozvani umjetnici ne osmišljavaju samo rad na temu, već i fiktivnog autora koji stoji iza takvog rada. Fiktivni autor nije samo paravan, već je okvir umjetničkog eksperimentiranja i neizostavni segment čitanja svakog nastalog rada.
