article(class="sidebar-article-mobile")
    div
        p.sidebar-about-button(ng-click="toggleAbout()") O PROJEKTU
        p.sidebar-language EN
    h3.sidebar-header-mobile IN SITU
    h1.sidebar-name-mobile MISSING ARTISTS
    p.sidebar-location-mobile MSU / Muzej suvremene umjetnosti, Zagreb
    div.sidebar-about-mobile(style="display:none;", ng-click="toggleAbout()") 
        p(style="margin-top:0px;") Umjetnici koji nedostaju je virtualna izložba na prostoru Muzeja suvremene umjetnosti koja je nastala kao rezultat umjetničke akcije u sklopu projekta In Situ.
        p Za potrebe izložbe autori su odabrali i pozvali 5 umjetnika da osmisle i isproduciraju umjetnički rad koji je na bilo koji način inspiriran prostorom u neposrednoj okolini Muzeja.
        p(style="margin-bottom:0px;") Izložba postoji u formi web stranice, a moguće joj je pristupiti samo s lokacija fizički markiranih u prostoru unutar i oko zgrade Muzeja
    p.sidebar-authors-mobile(style="display:none;", ng-click="toggleAbout()") Autori: Dora Đurkesac, Karla Paliska i Luka Santrić
    a.sidebar-insitu-mobile(href="http://www.insitu-project.com", style="display:none;") www.insitu-project.com
