article(class="sidebar-article-mobile")
    div
        p.sidebar-about-button(ng-click="toggleAbout()") ABOUT
        p.sidebar-language(ng-click="go('')") HR
    h3.sidebar-header-mobile IN SITU
    h1.sidebar-name-mobile MISSING ARTISTS
    p.sidebar-location-mobile MSU / Museum of Contemporary Art, Zagreb
    div.sidebar-about-mobile(style="display:none;", ng-click="toggleAbout()") 
        p(style="margin-top:0px;") Missing artists is a virtual exhibition on the location of Museum of Contemporary Art which is a result of an artistic action created within the In Situ project.
        p For exhibition purposes, the authors chose and invited 5 artists to conceptualize and produce artistic work that are inspired by the Museum’s surroundings.
        p(style="margin-bottom:0px;") The exhibition exists in the form of a web page, and the only way to visit it is to visit the locations which are physically marked inside and outside of the Museum building.
    p.sidebar-authors-mobile(style="display:none;", ng-click="toggleAbout()") Authors: Dora Đurkesac, Karla Paliska and Luka Santrić
    a.sidebar-insitu-mobile(href="http://www.insitu-project.com", style="display:none;") www.insitu-project.com
