article(class="content-article-mobile")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/1.gif")

    h1(class="content-header-mobile") CORNER MOTEL
    h2(class="content-name-mobile") Chessy Besser

    p(class="content-text-mobile") This work is a part of the extensive, three months long research of the Zagreb Hotel - its history, architectural heritage and the way it intertwined with people's destinies. For the purposes of the research author lived in the hotel for weeks and organised interviews with ex employees and visitors of the Hotel. The presented work is four-part GIF-story about Zagreb Hotel. Every GIF represents one anecdote or a short story taken from those interviews.

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/2.gif")

    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_5/images/3.gif")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/4.gif")

    h2(class="content-name-mobile") Chessy Besser

    p(class="content-text-mobile") Chessy Besser is a multimedia artist and director of documentary films. She was born in 1981 in North Berwick, UK. She graduated experimental physics at Utrecht University in 2007 and visual arts at Brown University in 2011. From 2010 she has been directing and filming documentaries with her partner Perdita Soley. Together they filmed six documentaries and won numerous prestigious awards. Their most notable successes are documentaries “Integral Reality”, “Marmadozan’s mistaken life” and “Forgotten tropic places”. In her documentaries Besser portrays richness of everyday experience, overseen bits of places that surround us every day, and their hidden stories.
