article(class="content-article-mobile")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/1.gif")

    h1(class="content-header-mobile") CORNER MOTEL
    h2(class="content-name-mobile") Chessy Besser

    p(class="content-text-mobile") Ovaj rad je dio ekstenzivnog, tromjesečnog istraživanja Hotela Zagreb - njegove povijest, arhitekture i načina na koji se isprepleo s ljudskim sudbinama. Za potrebe istraživanja autorica je boravila u hotelu tjednima, te je organizirala intervjue sa bivšim zaposlenicima i posjetiteljima hotela. Prezentirani rad je 4-dijelna gif-priča o tom hotelu. Svaki gif prezentira jednu anegdotu ili kratku priču izvedenu iz provedenih intervjua.

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/2.gif")

    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_5/images/3.gif")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/4.gif")

    h2(class="content-name-mobile") Chessy Besser

    p(class="content-text-mobile")  Chessy Besser je multimedijalna umjetnica i redateljica dokumentnih filmova. Rođena je 1981. godina u North Berwicku, UK. Diplomirala je eksperimentalnu fiziku na Sveučilištu u Utrechtu 2007. godine i vizualne umjetnosti na Sveučilištu Brown 2011. Od 2010, snima i režira dokumentarce sa svojom partnericom Perditom Soley. zajedno su snimile 6 dokumentaraca i osvojile brojne prestižne nagrade. Najznačajniji uspjeh polučio je njihov dokumentarac “Integral Reality” (Integralna stvarnost), “Marmadozan’s mistaken life” ( Pogrešan život Marmadozana) i “Forgotten tropic places”(Zaboravljena tropska mjesta). U svojim dokumentarcima autorica portretira bogatstvo svakodnevnog iskustva, izmaknute komadiće mjesta koja nas svakodnevno okružuju i njihove skrivene priče. 
