article(class="content-article-mobile")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_4/images/IMG_2.gif")

    h1(class="content-header-mobile") 1/ RANDOM RULES
    h2(class="content-name-mobile") Banana Slip Kolektiv

    p(class="content-text-mobile") Random Rules je kolekcija pravila koji su usmjereni prema tjelesnoj percepciji i odnosima između dva suprotna izvora i mjesta narativa - pop i religiozni kontekst koji se može naći u okolici Muzeja suvremene umjetnosti - šoping centar i crkva. Kreiranjem unificiranog seta pravila njihov je originalni izvor ponekad teško identificirati. Kontrast između dva ekstrema nalazi svoje zajedničko tlo i vrijednost kroz prilagodbu u online materijal.

    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_4/images/IMG_1.JPG")

    a(href="https://www.youtube.com/playlist?list=PLetNw69grBvhp-8PmNTMEP4B-gIF1WFX0", class="content-text-mobile") https://www.youtube.com/playlist?list=PLetNw69grBvhp-8PmNTMEP4B-gIF1WFX0

    h1(class="content-header-mobile") 2/ PLAY ROUTE

    p(class="content-text-mobile") Play Route rad je započeo dok je kolektiv spontano istraživao lokalno područje prateći pjesme koje su mogli čuti na različitim mjestima. Tekstovi i zvukovi su kasnije kompilirani na YouTube playlisti kao trag vremena i prostora - trenutnih preferenca i događanja u kvartu.

    h2(class="content-name-mobile") Banana Slip Kolektiv

    p(class="content-text-mobile") Banana Slip Kolektiv okuplja umjetnike različitih žanrova i pozadina. Zajedno dijele ljubav prema nasumičnom, pjevanju, cut-up poeziji i prikupljanju iskustava putujući po svijetu. Posebno ih zanima istraživanje ljudskog ponašanja i njihovih pripadajućih pravila, dok neizbježno nailaze na pogreške i nezgode. Glavni fokus njihovog rada je internetska distrakcija ili priroda izvan-fokusa koju prevode u digitalni ready-made. Njihove prakse su uglavnom kombinacija videa, performansa i poezije. Njihovi najznačajniji radovi su Flowlands i Interruptions koji su bili izložbeni na Bijenalu u Moskvi 2012. i Documenti 2014. godine. Trenutno rade i žive na relaciji Amsterdam, Zagreb, Moskva i Tokio.