article(class="content-article-mobile")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_4/images/IMG_2.gif")

    h1(class="content-header-mobile") 1/ RANDOM RULES
    h2(class="content-name-mobile") Banana Slip Collective

    p(class="content-text-mobile") Random Rules is a collection of rules oriented towards the bodily perception and relations coming from two very opposite sources and places of narrative - pop and religious context found in places around the Museum of Contemporary Art - shopping center and a church. By creating a unified set of rules their original source is sometimes hard to identify. The contrast between the two extremes finds its common ground and value through the reappropriation in an online material.

    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_4/images/IMG_1.JPG")

    a(href="https://www.youtube.com/playlist?list=PLetNw69grBvhp-8PmNTMEP4B-gIF1WFX0", class="content-text-mobile") https://www.youtube.com/playlist?list=PLetNw69grBvhp-8PmNTMEP4B-gIF1WFX0

    h1(class="content-header-mobile") 2/ PLAY ROUTE

    p(class="content-text-mobile") Play Route work started while collective was wandering around the local area and following the songs they could hear in different places. Texts and songs are later rearranged into a Youtube playlist as a trace of time and space - current preferences and happenings in the neighborhood.

    h2(class="content-name-mobile") Banana Slip Collective

    p(class="content-text-mobile") Banana Slip Collective gathers artists of various genres and backgrounds. They share love towards randomness, singing, cut up poetry and collecting experiences while traveling around the world. Especially, they are excited by exploring human behavior and its following rules, while inevitably encountering mistakes and accidents. The main focus of their work are internet distractions or out-of-focus nature translated into the digital ready made. Their practices are usually a combination of video, performance and poetry. The most notable works Flowlands and Interruptions were exhibited at Moscow Biennial 2012 and Documenta 2014. They live and work between Amsterdam, Zagreb, Moscow and Tokyo.