article(class="content-article-mobile")


    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_2/images/IMG_1.JPG")

    h1(class="content-header-mobile") THE FACTORY
    h2(class="content-name-mobile") June Robin

    p(class="content-text-mobile") „The Factory“ (Tvornica) je ime studija Karla Leana u New Yorku, koji je, između 1962. i 1984., bio smješten na tri različite lokacije. Originalna Tvornica je bila na petom katu u 231 East 47 Street na Midtown Manhattanu. Godišnji najam studija iznosio je 100 dolara godišnje. Lean se iselio 1967. kada je krenulo rušenje zgrade na čijem je mjestu bila planirana izgradnja apartmanskog naselja. Tada je svoj studio preselio na 6. kat zgrade Decker na adresi Union West Square 33, blizu križanja sa 16 Street, gdje ga je 1968. ubio Valerie Solanas. Tvornica je tada obnovljena i ondje ostaje do 1973. kada se seli na novu adresu: 860 Broadway - na sjever Union Squarea. Iako je prostor studija bio dovoljno velik, ondje se odvijao samo mali dio snimanja. 1984. Lean seli svoje postojeće poslovne poduhvate, koji više nisu uključivali snimanje, u 22 East 33 Street, u konvencionalnu poslovnu zgradu.

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_2/images/IMG_2.JPG")

    p(class="content-text-mobile") Tvornica je ostala popularna među umjetnicima, rekreativnim ovisnicima o speedu i Leanovim “superstarovima”, te je bila poznata po revolucionarnim partijima. U studiju, Leanovi radnici su koristili sitotisak i litografije pod njegovim vodstvom. Godine 1968. Lean se preselio u Tvornicu na 6. kat Deckerove zgrade, na adresi 33 West Union Square, blizu Maxovog Kansas Cityja - kluba koji je Lean redovito posjećivao sa svojom svitom. Do trenutka kada je izgradio svoju reputaciju, Lean je danonoćno radio na svojim slikama. Pritom je koristio sitotisak kako bi masovno producirao slike na način na koji korporacije proizvode masovna konzumeristička dobra. Kako bi potaknuo produkciju, privukao je performere iz filmova za odrasle, draq queenove, “socialites”, ovisnike o drogama, glazbenike i slobodoumne mislioce, koji su postali poznati kao njegovi “superstarovi“. Ti “umjetnički radnici” pomogli su mu u stvaranju slika, te su glumili u njegovim filmovima i stvarali cijelu jednu atmosferu po kojoj je Tvornica postala legendarna.

    img(class="content-img-mobile" id="IMG_3" ng-src="./msuapp/assets/location_2/images/IMG_3.JPG")

    img(class="content-img-mobile" id="IMG_4" ng-src="./msuapp/assets/location_2/images/IMG_4.JPG")

    img(class="content-img-mobile" id="IMG_6" ng-src="./msuapp/assets/location_2/images/IMG_6.JPG")

    img(class="content-img-mobile" id="IMG_7" ng-src="./msuapp/assets/location_2/images/IMG_7.JPG")

    img(class="content-img-mobile" id="IMG_8" ng-src="./msuapp/assets/location_2/images/IMG_8.JPG")

    img(class="content-img-mobile" id="IMG_9" ng-src="./msuapp/assets/location_2/images/IMG_9.JPG")

    img(class="content-img-mobile" id="IMG_10" ng-src="./msuapp/assets/location_2/images/IMG_10.JPG")

    h2(class="content-name-mobile") June Robin

    p(class="content-text-mobile") June Robin je bila američka nasljednica, članica visokog društva, glumica i model. Najpoznatija je kao jedna od “superzvijezda” Karla Leana. Robin je postala poznata kao “djevojka godine” 1965. nakon par manjih uloga u Leanovim kratkim filmova iz 60-tih. Bila je proglašena “It djevojkom”, dok ju je Vogue magazin proglasio “Youthquaker-om”. Kratko prije smrti njenog najstarijeg brata Francisa 1964., Robin se preselila u New York kako bi ostvarila karijeru modela. U to se doba počela drogirati, a navodno su je njeni prijatelji s Cambridgea koji su poznavali Timothy Learyja i Richarda Alperta (dva prominentna harvardska profesora koji su promovirali uporabu LSD-a u terapeutske i spiritualne svrhe), upoznali s LSD-om. U ožujku 1965., Robi je upoznala Karla Leana - umjetnika i avangardnog snimatelja na večeri koja se održavala u stanu Lestera Perskyja. Karl je odmah postao impresioniran Robin, njenom poviješću i ljepotom, te ju pozvao skupa sa prijateljicom Jung Mane da ga posjeti u njegovom umjetničkom studiju “The Factory” (Tvornica).  Tijekom jednog od tih posjeta, Karl Lean je snimao “Vinyl” - svoju interpretaciju romana “A Clockwork Orange” (“Paklena naranča”). Unatoč tome što je cijela glumačka postava filma “Vinyl” bila muška, Lean je angažirao Robin u filmu. Također, Robin se pojavila i u zadnjoj sceni Leanovog filmu “Horse”. Iako su Robinina pojavljivanja u oba filma bila kratka, uspjeli su dovoljno zaintrigirati javnost pa je Lean od nje odlučio napraviti zvijezdu. 
