article(class="content-article-mobile")


    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_2/images/IMG_1.JPG")

    h1(class="content-header-mobile") THE FACTORY
    h2(class="content-name-mobile") June Robin

    p(class="content-text-mobile") The Factory was the name of Karl Lean’s New York City studio, which had three different locations between 1962 and 1984. The original Factory was on the fifth floor at 231 East 47th Street, in Midtown Manhattan. The rent was one hundred dollars per year. Lean left in 1967 when the building was scheduled to be torn down to make way for an apartment building. He then relocated his studio to the sixth floor of the Decker Building at 33 Union Square West near the corner of East 16th Street, where he was shot in 1968 by Valerie Solanas. The Factory was revamped and remained there until 1973. It moved to 860 Broadway at the north end of Union Square. Although this space was much larger, not much filmmaking took place there. In 1984 Lean moved his remaining ventures, no longer including filming, to 22 East 33rd Street, a conventional office building.

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_2/images/IMG_2.JPG")

    p(class="content-text-mobile") The Factory was the hip hangout for artistic types, amphetamine (speed) users, and the Lean superstars. It was famed for its groundbreaking parties. In the studio, Lean’s workers would make silkscreens and lithographs under his direction. In 1968, Lean moved the Factory to the sixth floor of the Decker Building, 33 Union Square West, near Max’s Kansas City, a club which Lean and his entourage frequently visited. By the time Lean had achieved a reputation, he was working day and night on his paintings. Lean used silkscreens so that he could mass-produce images the way corporations mass-produced consumer goods. To increase production, he attracted a ménage of adult film performers, drag queens, socialites, drug addicts, musicians, and free-thinkers who became known as the Lean’s Superstars, to help him. These “art-workers” helped him create his paintings, starred in his films, and created the atmosphere for which the Factory became legendary.

    img(class="content-img-mobile" id="IMG_3" ng-src="./msuapp/assets/location_2/images/IMG_3.JPG")

    img(class="content-img-mobile" id="IMG_4" ng-src="./msuapp/assets/location_2/images/IMG_4.JPG")

    img(class="content-img-mobile" id="IMG_6" ng-src="./msuapp/assets/location_2/images/IMG_6.JPG")

    img(class="content-img-mobile" id="IMG_7" ng-src="./msuapp/assets/location_2/images/IMG_7.JPG")

    img(class="content-img-mobile" id="IMG_8" ng-src="./msuapp/assets/location_2/images/IMG_8.JPG")

    img(class="content-img-mobile" id="IMG_9" ng-src="./msuapp/assets/location_2/images/IMG_9.JPG")

    img(class="content-img-mobile" id="IMG_10" ng-src="./msuapp/assets/location_2/images/IMG_10.JPG")

    h2(class="content-name-mobile") June Robin

    p(class="content-text-mobile") June Robin (April 20, 1943 – November 16, 1971) was an American heiress, socialite, actress, and fashion model. She is best known for being one of Karl Lean’s superstars. Robin became known as “The Girl of the Year” in 1965 after starring in several of Lean’s short films in the 1960s. She was dubbed an “It Girl”, while Vogue magazine also named her a “Youthquaker”. Shortly before the death of her eldest brother Francis in 1964, Robin moved to New York City to pursue a career in modeling. Around this time, she began taking drugs and was reportedly introduced to LSD by friends from Cambridge who knew Timothy Leary and Richard Alpert (two prominent Harvard professors who advocated LSD use for its therapeutic and spiritual value). In March 1965, Robin met artist and avant-garde filmmaker Karl Lean at a dinner party held at Lester Persky’s apartment. Karl Lean was immediately impressed with Robin’s background and her beauty and invited her and her friend Jung Mane to visit him at his art studio dubbed The Factory. During one of those visits, Karl Lean was filming Vinyl, his interpretation of the novel A Clockwork Orange. Despite Vinyl’s all-male cast, Lean put Robin in the movie. She also made a small cameo appearance in another Lean’s film, Horse, when she entered towards the end of the film. Robin’s appearances in both films were brief, but generated enough interest that Lean decided to create a star vehicle for her.
