article(class="content-article-mobile")


    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_1/images/IMG_1.JPG")

    h1(class="content-header-mobile") WOODEN WEDDING
    h2(class="content-name-mobile") Canarino Immobile

    p(class="content-text-mobile") Ducats were frequent ornament of wedding costumes on the east of Croatia. They were used to show off family wealth and to draw attention. I am fascinated by the directness of that message and I wish to resend it. Representation of costumes in its original form is folklore, and it resides in a niche to which modern people really dedicate attention. In order to notice the wedding costume with the ducats again it has to be reinterpreted. That is the reason why I chose the tree near MSU - healthy, lush, and in the best age for marriage - and dressed it up in the coins. Next to that tree is another younger tree that is wearing a less affluent piece. It represent a younger girl who can’t compete with richness of her costume with the bride.


    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_1/images/IMG_2.JPG")

    h2(class="content-name-mobile") Canarino Immobile

    p(class="content-text-mobile") In his youth he was a football player for Calabria's F.C. Crotone. Because of the chronic knee injury he quit his career when he was 25 and he then discovers his artistic potential. He enrolled in Accademia di Belle Arti in Reggio Calabria and focuses on sports aesthetics. Immobile was already noticed as a student for his works in wood „Arbitro ladro“ (Referee thief) and „Chi non salta è Siciliano“ (Who doesn’t jump is Sicilian). In his thirties he shifs his interest towards folklore motifs and leads a small but influential artistic association „Onda di rame“ (Copper wave). After 4 years, his association was closed in the midst of a controversial art-provocative project that involved stealing construction material from a local factory canned fish factory. Trashed in media, Immobile isolates himself on the hill Scapaprone where he focuses on introspection. In his so called Rectal phase he creates Urlo dell'ano“ (Scream of the anus), „Vista dall'ano“ (Look from the anus) i „Chi sono? Un ano?“ (Who am I? Anus?) which can now be seen as a triptych on the exit from MAXII Gallery in Rome. The work is made as oil on canvas dominated by brown colour. In recent time Immobile goes back to exploration of folklore, dowry and marriage customs. 
