article(class="content-article-mobile")

    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_4/images/IMG_1.JPG")

    h1(class="content-header-mobile") PLAY ROUTE
    h2(class="content-name-mobile") Banana Split

    p(class="content-text-mobile") Play Route work started while collective was wandering around the local area and following the songs they could hear in different places. Texts and songs are later rearranged into a Youtube playlist as a trace of time and space - current preferences and happenings in the neighbourhood. 

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_4/images/IMG_2.gif")

    h1(class="content-header-mobile") RANDOM RULES
    h2(class="content-name-mobile") Banana Split

    p(class="content-text-mobile") Random Rules is a collection of rules oriented towards the bodily perception and relations coming from two very opposite sources and places of narrative - pop and religious context found in places around the Museum of Contemporary Art - shopping centre and a church. By creating a unified set of rules their original source is sometimes hard to identify, 

    p(class="content-text-mobile") Banana Slip collective gathers artists of various genres and backgrounds. They share love towards randomness, singing, cut up poetry and collecting experiences while travelling around the world. Especially, they are excited by exploring human behavior and its following rules, while inevitably encountering mistakes and accidents. The main focus of their work are internet distractions or out-of-focus nature translated into the digital ready made. Their practices are usually a combination of video, performance and poetry. The most notable works Flowlands and Interruptions were exhibited at Moscow Biennial 2012 and Documenta 2014. They live and work between Amsterdam, Zagreb, Moscow and Tokyo. 