article(class="content-article-mobile")


    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_5/images/3.gif")

    h1(class="content-header-mobile") CORNER MOTEL
    h2(class="content-name-mobile") Chessy Besser

    p(class="content-text-mobile") This is part of the extensive, 3 months long research of the Zagreb Hotel - its history, architectural heritage and they it perplexed with human destinies. For the purposes of the research author lived in the hotel for weeks and was organising interviews with ex employees and visitors of the Hotel. Presented work is 4-part GIF-story about Zagreb Hotel. Every GIF represents one anecdote or short story taken from held interviews.

    p(class="content-text-mobile")  Chessy Besser is a multimedia artist and director of documentary films. She is born in 1981. in North Berwick, UK. She graduated experimental physics at Utrecht University in 2007. and visual arts at Brown University in 2011. From 2010. she has been directing and filming documentaries with her partner Perdita Soley. Together they filmed 6 documentaries, a and won numerous prestigious awards. Their most notable documentaries are “Integral Reality”, “Marmadozan’s mistaken life” and “Forgotten tropic places”. Perdita is interested in the richness of everyday experiences, overseen bits of surrounding places  and its hidden stories.

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/1.gif")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/2.gif")

    img(class="content-img-mobile" id="IMG_2" ng-src="./msuapp/assets/location_5/images/4.gif")
