article(class="content-article-mobile")

    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/location_3/images/IMG_1.gif")

    h1(class="content-header-mobile") BANQUET FOR NATURE
    h2(class="content-name-mobile") Noah Lava

    p(class="content-text-mobile") In the search for an oasis in the immediate vicinity of the Museum of Contemporary Art in Zagreb, the author finds peace near the lake in the nature-park Bundek. The first impulse which drew him to this action was his connection with birds which he spontaneously befriended over the period of a couple of days. In the next step, as a Japanese way of serving sushi on woman's body - Nyotaimori - or man's - Nantaimori, author decided to perform the ritual of serving food for birds on his own body. Through the ritual of food preparation and mediation a field of pure contact was created, along with an open call for a feast. This experimental performance was made one-time, and presented as raw, unaltered sound (field recording) with an accompanying GIF.

    h2(class="content-name-mobile") Noah Lava

    p(class="content-text-mobile") Born in 1983. in the Hambach forest not far from Cologne in Germany, where he grew up with his two sisters and was home schooled. In the perception of wider public with associated dominant value system, Noah is often characterised as an outsider and eccentric lunatic, which he accepts as a compliment. Even though he never attended a regular school or university, his artistic work and non-religious spiritual practice have been widely recognised through a self-taught and extraordinary way. Life in the balance with nature is his only meaning, and so far he has been living in the woods in his studio and house on a tree. His artistic work expresses his deep connection with nature and strongly accents spontaneity and being in the moment through experimental approach and meditation. So far he has exhibited on over 40 independent exhibitions and more than 10 group exhibitions in 19 countries all around Europe, Asia and South America. He is specially fond of exhibitions outside the gallery or museum space - in unusual places like caves. In the recent years he's been mostly doing land art and performances and he shows equal interest in painting and drawing on one side, and sound and music on the other.
