article(class="unlocation-article-mobile")
    h2(class="unlocation-warning-mobile") OOPS, YOU ARE OUTSIDE OF THE EXHIBITION AREA!
    p(class="unlocation-text-mobile") To access the exhibition just visit one of the marked locations on the Museumʼs map.
    img(class="unlocation-img-mobile" id="IMG_1" ng-src="./msuapp/assets/unlocation/images/map.png")
