article(class="unlocation-article-mobile")
    h2(class="unlocation-warning") OPS, TRENUTNO SI IZVAN LOKACIJE IZLOZBE!
    p(class="unlocation-text") Za pristup radu nekog od umjetnika osvježi stranicu na nekoj od markiranih lokacija na tlocrtu.
    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/unlocation/images/map.png")
