article(class="unlocation-article-mobile")
    h2(class="unlocation-warning-mobile") UPS, TRENUTNO SI IZVAN LOKACIJE IZLOŽBE!
    p(class="unlocation-text-mobile") Za pristup izložbi posjetite jednu od markiranih loacija na karti muzeja.
    img(class="content-img-mobile" id="IMG_1" ng-src="./msuapp/assets/unlocation/images/map.png")
