.unlocation-article-mobile {
	background-color: yellow;
	padding: 40px;
}

.unlocation-warning-mobile {
	margin-top: 0px;
    font-family: 'Rubik Mono One';
    font-size: 46px;
}

.unlocation-text-mobile {
	font-family: 'Source Sans Pro';
}