.unlocation-article {
    background-color: yellow;
    padding: 40px;
    padding-bottom: 0px;
    height: 100%;
    position: fixed;
    width: 76%;
}

.unlocation-warning {
    margin-top: 0px;
    font-family: 'Rubik Mono One';
    font-size: 3vh;
}

.unlocation-text {
    font-family: 'Source Sans Pro';
    font-size: 2.2vh;
}

.unlocation-img {
    height: 80%;
    padding-left: 15%;
}